<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/clarkngo">Clark</a>. A web developers aiming to be enhanced his software engineering skills with the purpose of giving back and mentoring new coders.
  </p>
  <br />
  <p>
    He has inspired new coders to challenge obstacles and build their grit.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'clark.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Clark Jason Ngo</h2>
      <br />
      <p>
        Clark Jason Ngo is a web developer and technology enthusiast. His team won runner-up on AngelHack Seattle Hackathon 2018 (<a target="blank" href="https://medium.com/@clarkjasonngo/cashcycle-angelhack-seattle-hackathon-2018-d3f42a26ddcb">How my team rocked the AngelHack Seattle Hackathon</a>)
      </p>
    </div>

  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />